body {
  background-color: #000;
  color: #eee;
}

.main {
  margin-bottom: 5em;
}

footer {
  background-color: #777;
  color: #000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5em;
}
